:root {
    --fuenteprincipal: 'roboto' , sans-serif;
    --fuentesecundaria: 'lato' , sans-serif;
    --primario: #107381;
    --secundario: #66d691;
    --blanco: #fff;
    --negro: #000;
    --grisclaro: #e1e1e1;
    --separacion: 5rem;

}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem= 10px */
}

*,*::before, ::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--fuentesecundaria);
    margin: cal( var(--separacion) / 2) 0 ;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color:#fff;
}

/* utilidades */

.text-center {
    text-align: center;
}

header {
    padding: 5rem 2rem 60rem 2rem;
    background-image: url('../assets/img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header__contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__registro {
    display: flex;
    gap: 2rem;
}
.registro {
    font-family: var(--fuentesecundaria);
    font-size: 1.8rem;
}

.navegacion {
    padding: 5rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}
.navegacion__enlace {
    color:#a23131;
    transition-property: background-color;
    transition-duration: .3s;
    padding: 1rem;
    font-family: var(--fuenteprincipal);
    font-size: 1.8rem;
}

:hover.navegacion__enlace {
    background-color: #107381;
    color:#fff;
}

main {
    padding: 5rem 0;
}

.main__actividades {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contenedor__imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.contenedor__imagen {
    object-fit: cover;
    width: 30rem;
    height: 30rem;
}

.formulario {
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
}

.formulario label {
    font-size: var(--fuentesecundaria);
    font-weight: 700;
}

.footer p {
    background-color:#107381;
    margin: 5rem 0 0 0;
}