$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$fuenteprincipal: 'roboto' , sans-serif;
$fuentesecundaria: 'lato' , sans-serif;
$primario: #107381;
$secundario: #66d691;
$blanco: #fff;
$negro: #000;
$grisclaro: #e1e1e1;
$separacion: 5rem;